html {
  background: linear-gradient(#615dad, #ffc8da);
  min-height: 100%;
  box-sizing: border-box;
}

/* pouzit vzdy */
*,
:after,
:before {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}

.profil {
  margin: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  background-color: #283e50;
  color: #bdc3c7;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

.uvodni_foto {
  display: block;
  width: 100%;
}
.foto {
  display: block;
  height: auto;
  width: 100%;
}

.obsah {
  padding: 30px 20px 20px 20px;
  text-align: center;
}

.jmeno {
  margin: 0px 0 20px 0;
  font-family: 'Lobster', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #fff;
  text-align: center;
}

.odkazy {
  margin: 0;
  padding: 0;
  list-style: none;
}

.odkazy li {
  display: inline-block;
}

.pravidla {
  width: 100%;
  background-color: #1fcca4;
  border-top: 1px solid #3f464d;
  border-bottom: 1px solid #3f464d;
}

.zacit_hrat {
  background-color: #0197f6;
  width: 100%;
}

.odkazy a {
  display: block;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  color: white;
}

.odkazy a:hover {
  color: #fff;
}

.pravidla a:hover {
  background-color: #1cbb96;
}
.zacit_hrat a:hover {
  background-color: #0090e9;
}

.top {
  margin: 20px 0 20px 0;
  font-family: 'Lobster', sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #fff;
  text-align: center;
}
.howToPlay {
  list-style-type: decimal;
  align-items: left;
}

.howToPlay li {
  padding: 10px;
}

.obrazky {
  display: flex;
  flex-wrap: wrap;
  margin: 3px 3px 3px 3px;
}

.obrazky p {
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
  margin: none;
}

.fotka_popis {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  padding: 20px;
}

@media screen and (min-width: 1400px) {
  .fotka_popis {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 49.9%;
    padding: 20px;
  }
  .profil {
    font-size: 30px;
  }
}
@media screen and (min-width: 2800px) {
  .profil {
    max-width: 2800px;
  }
}
