html {
  background: linear-gradient(#615dad, #ffc8da);
  min-height: 100%;
  box-sizing: border-box;
}

/* pouzit vzdy */
*,
:after,
:before {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}

.profil {
  margin: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  background-color: #283e50;
  color: #bdc3c7;
}

.uvodni_foto {
  display: block;
  width: 100%;
}
.foto {
  display: block;
  height: auto;
  width: 100%;
}

.obsah {
  padding: 30px 20px 20px 20px;
  text-align: center;
}

.jmeno,
h1 {
  margin: 0px 0 20px 0;
  font-family: 'Lobster', sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #fff;
  text-align: center;
}

.odkazy {
  margin: 0;
  padding: 0;
  list-style: none;
}

.odkazy li {
  display: inline-block;
}

.pravidla {
  width: 100%;
  background-color: #1fcca4;
  border-top: 1px solid #3f464d;
  border-bottom: 1px solid #3f464d;
}

.zacit_hrat {
  background-color: #0197f6;
  width: 100%;
}

.odkazy a {
  display: block;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  color: white;
}

.odkazy a:hover {
  color: #fff;
}

.pravidla a:hover {
  background-color: #1cbb96;
}
.zacit_hrat a:hover {
  background-color: #0090e9;
}

.top {
  margin: 20px 0 20px 0;
  font-family: 'Lobster', sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #fff;
  text-align: center;
}
.howToPlay {
  list-style-type: decimal;
  align-items: left;
  padding: 10%;
}

.howToPlay li {
  padding: 10px;
}

.obrazky {
  display: flex;
  flex-wrap: wrap;
  margin: 3px 3px 3px 3px;
}

.obrazky p {
  font-style: italic;
  padding-bottom: 20px;
  margin: none;
}

.fotka_popis {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  padding: 20px;
}

@media screen and (min-width: 1400px) {
  .fotka_popis {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 49.9%;
    padding: 20px;
  }
  .profil {
    font-size: 30px;
  }
}
@media screen and (min-width: 2800px) {
  .profil {
    max-width: 2800px;
  }
}

.hra_kontejner {
  max-width: 80vmin;
  margin: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 10px;
}

.circle {
  filter: invert(100%);
}

.hraje_home_return {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.hraje {
  color: white;
  display: flex;
  align-items: center;
}
.field {
  display: flex;
  flex-wrap: wrap;
  opacity: 0.5;
  width: 100%;
}
.field button {
  width: 10%;
  border: 0.5px solid darkslategrey;
  padding: 0;
  margin: 0;
}

.field button:focus,
.field button:hover {
  filter: brightness(200%);
}

.field button::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.tlacitka button {
  margin: 5px;
  border-radius: 5px;
  border: 0;
  padding: 5px;
}
.home {
  background-color: #1fcca4;
}

.home a {
  display: block;
}
.return a {
  display: block;
}
.return {
  background-color: #0197f6;
}
.home:hover,
.home:focus {
  background-color: #1cbb96;
}
.return:hover,
.return:focus {
  background-color: #0090e9;
}

.tlacitka {
  display: flex;
}
